body {
  background-color: #121212;
}

:root {
  --_30: 30%;
  --_40: 40%;
  --_50: 50%;
  --_60: 60%;
  --_70: 70%;
}

.scale-30 {
  width: var(--_30) !important;
}

.scale-40 {
  width: var(--_40) !important;
}

.scale-50 {
  width: var(--_50) !important;
}

.scale-60 {
  width: var(--_60) !important;
}

.scale-70 {
  width: var(--_70) !important;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.upward-arrow {
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  clip-path: circle(50%);
  background-color: white;
  position: fixed;
  bottom: 50px;
  right: 70px;
}

.upward-arrow > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* profile */

@keyframes scale {
  from {
    transform: scale(0, 1);
    transform-origin: left;
  }
  to {
    transform: scale(1, 1);
    transform-origin: left;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  90% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
}

@keyframes slide {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-in-NAME {
  animation: slide 0.5s ease-out forwards;
}

.load {
  animation: loading 0.7s linear 2s infinite alternate;
}

.animate-out-details {
  animation: slide 0.5s ease-in reverse forwards;
}

.animate-out-img {
  animation: slide 0.5s ease-in 0.1s reverse forwards;
}

.fade-in {
  animation: fade 0.5s ease-in forwards;
}

.fade-out {
  animation: fade 1s ease-out reverse forwards;
}

.size-large {
  font-size: 9em !important;
}

.size-medium {
  font-size: 4em !important;
}

.size-medium1 {
  font-size: 2.5em !important;
}

.size-medium2 {
  font-size: 2em !important;
}

.size-medium3 {
  font-size: 1.5em !important;
}

.size-smol {
  font-size: 1.2em !important;
}

.underline {
  text-decoration: underline;
}

.opacity-0 {
  opacity: 0;
}
.red {
  color: red !important;
}

.black {
  color: #191919 !important;
}

.cornblue {
  color: cornflowerblue !important;
}

.white {
  color: white !important;
}

.profile {
  min-height: 80vh;
  margin-top: 100px;
  background-color: transparent;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.Body-details {
  display: flex;
  flex-direction: column;
}

.place-items-center {
  place-items: center !important;
}

.Body-details-arrow {
  background-color: transparent;
  border: none;
}

.NAME {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}

.NAME:hover .load {
  animation-play-state: paused;
}

.font-400 {
  font-weight: 400 !important;
}

.line-height-2 {
  line-height: 2;
}

.vertical-bottom {
  vertical-align: text-bottom;
}

.text-wrap {
  text-wrap: wrap;
  width: 40ch;
}

.socials {
  display: flex;
  margin-top: 40px;
  animation: slide 0.4s ease-out 0.1s both;
  gap: 40px;
}

.socials > a {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.socials > a :hover {
  animation: shake 0.2s ease both;
}

.img-profile {
  width: inherit;
  height: inherit;
  position: relative;
  width: 20vw;
  height: 20vw;
  min-width: 300px;
  min-height: 300px;
  clip-path: circle();
  background-color: cornflowerblue;
  animation: slide 0.3s ease-out 0s both;
}

.img-profile-slit {
  position: absolute;
  top: 15%;
  right: 3%;
  width: 70%;
  height: 70%;
  object-fit: cover;
  clip-path: circle();
  animation: slide 0.5s ease-out 0.1s both;
}

/* skills & experience */

.skills {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.skills-heading {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.skills-container {
  background-color: #1d1d1d;
  border-radius: 10px;
  width: 50vw;
  padding: 40px 60px 40px 60px;
}

.skills-bar {
  width: 0%;
  background-color: cornflowerblue;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Details */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.details-heading {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.details-selector {
  display: flex;
  gap: 20px;
  user-select: none;
}

.detail-button-selected {
  background-color: transparent;
  border: 2px solid cornflowerblue;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.detail-button-not-selected {
  background-color: transparent;
  border: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.detail-button-not-selected:hover,
.detail-button-selected:hover {
  color: cornflowerblue !important;
}

.details-selected {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-top: 50px;
}

.details-card {
  padding-bottom: 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-bottom: 2px solid cornflowerblue;
}

/* Project */

.project {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color: transparent;
}

.project-heading {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.project-carousel {
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  display: grid;
  place-content: center;
  position: relative;
  padding-bottom: 70px;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 24rem;
  padding: 1.6rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  margin-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__dot {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dots {
  bottom: 1.6rem;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot:after {
  background: rgb(249, 249, 249);
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.embla__dot--selected:after {
  background: linear-gradient(45deg, rgb(47, 112, 193), rgb(116, 97, 195));
}

.embla__slide__description {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #6066c3;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.embla__slide__imgborder {
  width: 80%;
}

.embla__slide:hover .embla__slide__description {
  opacity: 1;
}

.embla__slide__description > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-carousel {
  height: 30px;
  width: 30px;
}

.foot {
  background-color: white;
  max-width: 100vw;
  height: 30vh;
  min-height: 300px;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1400px) {
  .certif-details,
  .certif-details > div > span,
  .certif-details > div {
    display: grid;
    place-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 1250px) {
  .size-large {
    font-size: 5em !important;
  }
  .size-medium {
    font-size: 2em !important;
  }
  .size-medium1,
  .size-medium2,
  .size-medium3 {
    font-size: 1.3em !important;
  }
  .text-wrap {
    width: 25ch;
  }
  .size-smol {
    font-size: 1em !important;
  }
  .profile {
    padding-top: 80px;
  }
  .know-more {
    width: 60px;
    right: 15%;
  }
  .NAME:hover .know-more {
    height: 60px;
  }
  .skills-bar {
    height: 15px;
  }
  .skills-container {
    padding: 30px 50px 30px 50px;
    width: 60vw;
  }
  .skills-heading,
  .project-heading {
    margin-bottom: 40px;
  }
  .details-selected {
    width: 75vw;
  }
  .details-heading {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .profile-div {
    display: grid;
    place-content: center;
    width: 100%;
  }

  .size-medium3 {
    font-size: 1em !important;
  }

  .profile-div {
    gap: 0;
  }
  .know-more {
    height: 65px;
  }
  .skills-container {
    padding: 10px 30px 10px 30px;
    width: 75vw;
  }
  .profile {
    text-align: center;
  }
  .socials {
    justify-content: center;
  }
  .details-heading {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1000px) {
  .embla__slide {
    width: 10vw;
  }
}
